@use '../../theme/mixins' as *;

:host {
  display: block;
}

.cba-select__control {
  @extend %cba-native-control;
}

.cba-select--disabled .cba-select__control {
  cursor: not-allowed;
}

.cba-select--readonly .cba-select__control {
  cursor: default;
}
